/**
 * @file
 * Defines default strategy parameter values for the given timeframe.
 */

// Defines indicator's parameter values for the given pair symbol and timeframe.
struct Indi_XTrendLineX_Params_{{ Timeframe }} : XTrendLineXIndiParams {
  Indi_XTrendLineX_Params_{{ Timeframe }}() : XTrendLineXIndiParams(indi_xtrendlinex_defaults, PERIOD_{{ Timeframe }}) {
    shift = {{ XTrendLineX_Indi_XTrendLineX_Shift | default(0) }};
  }
} indi_xtrendlinex_{{ Timeframe | lower }};

// Defines strategy's parameter values for the given pair symbol and timeframe.
struct Stg_XTrendLineX_Params_{{ Timeframe }} : StgParams {
  // Struct constructor.
  Stg_XTrendLineX_Params_{{ Timeframe }}() : StgParams(stg_xtrendlinex_defaults) {
    lot_size = {{ XTrendLineX_LotSize | default(0) }};
    signal_open_method = {{ XTrendLineX_SignalOpenMethod | default(0) }};
    signal_open_filter_method = {{ XTrendLineX_SignalOpenFilterMethod | default(1) }};
    signal_open_level = (float){{ XTrendLineX_SignalOpenLevel | default(0) }};
    signal_open_boost = {{ XTrendLineX_SignalOpenBoostMethod | default(0) }};
    signal_close_method = {{ XTrendLineX_SignalCloseMethod | default(0) }};
    signal_close_level = (float){{ XTrendLineX_SignalCloseLevel | default(0) }};
    price_stop_method = {{ XTrendLineX_PriceStopMethod | default(0) }};
    price_stop_level = (float){{ XTrendLineX_SignalCloseLevel | default(1) }};
    tick_filter_method = {{ XTrendLineX_TickFilterMethod  | default(1) }};
    max_spread = {{ XTrendLineX_MaxSpread | default(0) }};
  }
} stg_xtrendlinex_{{ Timeframe | lower }};
